In [ ]:
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [97]:
#Given the following confusion matrix, evaluate (by hand) the model's performance.

import pandas as pd
import seaborn as sns

In [30]:
#### For this model, predicting dog is the True Positive

The accuracy is: 80.0%
The precision is: 86.79%
The recall is: 77.97%

In [32]:
#In the context of this problem, what is a false positive?

####The false positive is the prediction of cat when its an actual dog.

#In the context of this problem, what is a false negative?

####The false negative is the prediction of dog when its an actual cat.


#How would you describe this model?

TP = 46
FP = 7
FN = 13
TN = 34

#accuracy
accuracy = ((TP + TN) / (TP + TN + FP + FN)) * 100
print(f'The accuracy is: {accuracy}%')
      
#precision
precision = round((TP / (TP + FP)) * 100, 2)
print(f'The precision is: {precision}%')
      
#recall
recall = round((TP / (TP + FN)) * 100, 2)    
print(f'The recall is: {recall}%')

#baseline
print('The baseline is : dog')

The accuracy is: 80.0%
The precision is: 86.79%
The recall is: 77.97%
The baseline is : dog

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [36]:
df = pd.read_csv('c3.csv')

In [37]:
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [39]:
#### Evaluation metric I would use is 'recall' because the cost of missing out on a positive case is high ( false negatives are costly).
#### Evaluation model

#model positives
subset = df[df.actual == "Defect"] #### Defect is chosen because we want to predict defects
subset

#Model 1 Recall
model1_recall = (subset.actual == subset.model1).mean()

# Model 2 recall
model2_recall = (subset.actual == subset.model2).mean()

# Model 3 recall
model3_recall = (subset.actual == subset.model3).mean()

print(f"""Model 1 Recall: {model1_recall:.2%}
Model 2 Recall: {model2_recall:.2%}
Model 3 Recall: {model3_recall:.2%}
""")

Model 1 Recall: 50.00%
Model 2 Recall: 56.25%
Model 3 Recall: 81.25%

In [ ]:
#### Model 3 is the best fit for this use case.

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [ ]:
#### Defect is what we're looking for here and the cost is high if we are inaccurate predicting 'no defects', so we need to be "precise".
#### Precision it is

In [41]:
# choose subset of model 1 where we only select 'positive predictions'
subset = df[df.model1=='Defect']
subset

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [51]:
subset1 = df[df.model1=='Defect']

model1_precision = (subset.actual == subset.model1).mean()
model1_precision

0.8

In [52]:
subset2 = df[df.model2=='Defect']

model2_precision = (subset2.actual == subset2.model2).mean()
model2_precision

0.1

In [53]:
subset3 = df[df.model3=='Defect']

model3_precision = (subset3.actual == subset3.model3).mean()
model3_precision

0.13131313131313133

In [54]:
print(f"""Model 1 Precision: {model1_precision:.2%}
Model 2 Precision: {model2_precision:.2%}
Model 3 Precision: {model3_precision:.2%}
""")

Model 1 Precision: 80.00%
Model 2 Precision: 10.00%
Model 3 Precision: 13.13%

In [ ]:
#### Using model 1 will be the best fit for this use case.

You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

-  In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

-  Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

-  Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [57]:
paws = pd.read_csv('gives_you_paws.csv')
paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [58]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [62]:
paws['baseline']= paws.actual.value_counts().idxmax() #### Created a baseline column based off the max count value's ID, 'dog'
paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [63]:
(paws.actual == paws.baseline).mean()

0.6508

In [74]:
print(f'The accuracy for model 1 is: {(paws.actual == paws.model1).mean()}')
print(f'The accuracy for model 2 is: {(paws.actual == paws.model2).mean()}')
print(f'The accuracy for model 3 is: {(paws.actual == paws.model3).mean()}')
print(f'The accuracy for model 4 is: {(paws.actual == paws.model4).mean()}')
print(f'The accuracy for baseline is:{(paws.actual == paws.baseline).mean()}')

The accuracy for model 1 is: 0.8074
The accuracy for model 2 is: 0.6304
The accuracy for model 3 is: 0.5096
The accuracy for model 4 is: 0.7426
The accuracy for baseline is:0.6508

In [75]:
#### The accuracy for model 1 and model 4 surpass the baseline accuracy.

-  Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

In [78]:
subset = paws[paws.actual == 'dog']

model_recall = []

for model in subset.columns[1:]:
    recall = (subset.actual == subset[model]).mean()
    model_recall.append([model, recall])
    
model_recall

[['model1', 0.803318992009834],
 ['model2', 0.49078057775046097],
 ['model3', 0.5086047940995697],
 ['model4', 0.9557467732022127],
 ['baseline', 1.0]]

In [ ]:
#### Model 4 is performing the best out of the 4 models.

-  Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [79]:
subset = paws[paws.actual == 'cat']

model_recall = []

for model in subset.columns[1:]:
    recall = (subset.actual == subset[model]).mean()
    model_recall.append([model, recall])
    
model_recall

[['model1', 0.8150057273768614],
 ['model2', 0.8906071019473081],
 ['model3', 0.5114547537227949],
 ['model4', 0.34536082474226804],
 ['baseline', 0.0]]

In [80]:
#### Model 2 is performing the best out of the 4 models.

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report

In [82]:
from sklearn.metrics import classification_report

In [84]:
print("Model 1")

pd.DataFrame(classification_report(paws.actual, paws.model1,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [85]:
print("Model 2")

pd.DataFrame(classification_report(paws.actual, paws.model2,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [86]:
print("Model 3")

pd.DataFrame(classification_report(paws.actual, paws.model3,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [87]:
print("Model 4")

pd.DataFrame(classification_report(paws.actual, paws.model4,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

In [88]:
from sklearn.metrics import precision_score, recall_score

In [94]:
def calculate_precision(predictions, positive='dog'):
    """
    This function will: 
    - take in a model prediction 
    - defaulted pos class is dog
    - output the precision score
    """
    return precision_score(paws.actual, predictions, pos_label=positive)

In [95]:
def calculate_recall(predictions, positive='dog'):
    """
    This function will: 
    - take in a model prediction 
    - defaulted pos class is dog
    - output the recall score
    """
    return recall_score(paws.actual, predictions, pos_label=positive)

In [96]:
pd.concat([
    paws.loc[:, 'model1':'baseline'].apply(calculate_recall).rename('recall'),
    paws.loc[:, 'model1':'baseline'].apply(calculate_precision).rename('precision'),
], axis=1)

            recall  precision
model1    0.803319   0.890024
model2    0.490781   0.893177
model3    0.508605   0.659888
model4    0.955747   0.731249
baseline  1.000000   0.650800